In [2]:
import re
import json
from pathlib import Path
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Read and transform the JSON-like data

text = Path("task1_d.json").read_text(encoding='utf-8')
data_transformed = re.sub(r":(\w+)=>", r'"\1":', text)  
books = json.loads(data_transformed)

In [5]:
print(books[:10])

[{'id': 10292064894005717421, 'title': 'Look Homeward, Angel', 'author': 'Prof. Teressa Kautzer', 'genre': 'Humor', 'publisher': 'Brill Publishers', 'year': 2010, 'price': '$87.25'}, {'id': 13029911509625386835, 'title': 'The Yellow Meads of Asphodel', 'author': 'Domingo Weimann', 'genre': 'Reference book', 'publisher': 'Sams Publishing', 'year': 2018, 'price': '$31.99'}, {'id': 12880574241579659568, 'title': 'A Catskill Eagle', 'author': 'Dayle Orn', 'genre': 'Comic/Graphic Novel', 'publisher': 'Apress', 'year': 2011, 'price': '€5.99'}, {'id': 13301315742612799364, 'title': 'Der Richter und sein Henker', 'author': 'Elias von Kolb', 'genre': 'Tall tale', 'publisher': 'Centaurus Verlag', 'year': 1995, 'price': '$75.00'}, {'id': 16372759776603821045, 'title': 'After Many a Summer Dies the Swan', 'author': 'Carter Legros', 'genre': 'Metafiction', 'publisher': 'University of Minnesota Press', 'year': 2004, 'price': '$52.0'}, {'id': 16225690258143553542, 'title': 'The Man Within', 'author': 'Hoyt Swift', 'genre': 'Narrative nonfiction', 'publisher': 'Bloomsbury Publishing Plc', 'year': 1987, 'price': '$41.00'}, {'id': 17182418688626898269, 'title': 'Beneath the Bleeding', 'author': 'Hilary Kuhlman DC', 'genre': 'Biography/Autobiography', 'publisher': 'New Holland Publishers', 'year': 2011, 'price': '$74.00'}, {'id': 13929027836014349128, 'title': 'I Sing the Body Electric', 'author': 'Marisha Mante', 'genre': 'Fable', 'publisher': 'Breslov Research Institute', 'year': 2021, 'price': '$25.00'}, {'id': 16585510535930664101, 'title': 'The Way of All Flesh', 'author': 'Eliseo Grady', 'genre': 'Essay', 'publisher': 'George Newnes', 'year': 1997, 'price': '€56.00'}, {'id': 13181671723636993719, 'title': 'Stranger in a Strange Land', 'author': 'Ryan Schamberger', 'genre': 'Mystery', 'publisher': 'Libertas Academica', 'year': 1994, 'price': '€8.00'}]

In [65]:
# Connect to the PostgreSQL database

conn = psycopg2.connect(
    dbname="booksdb",
    user="postgres",
    password="12345",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

In [ ]:
# Create the books table

cur.execute("""
CREATE TABLE books (
    id NUMERIC PRIMARY KEY,
    title TEXT,
    author TEXT,
    genre TEXT,
    publisher TEXT,
    year INT,
    price TEXT
);
""")

In [32]:
# Insert data into the books table

for book in books:
    cur.execute("""
        INSERT INTO books (id, title, author, genre, publisher, year, price)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (
        book.get("id"),
        book.get("title"),
        book.get("author"),
        book.get("genre"),
        book.get("publisher"),
        book.get("year"),
        book.get("price")
    ))

conn.commit()

In [ ]:
# Query the database and load results into a DataFrame to display the summary table

engine = create_engine('postgresql+psycopg2://postgres:12345@localhost:5432/booksdb')

df = pd.read_sql_query("""SELECT
    year AS publication_year,
    COUNT(*) AS book_count,
    ROUND(
        AVG(                       
            CASE
                WHEN price LIKE '%$%' THEN CAST(REPLACE(price, '$', '') AS NUMERIC) / 1.2
                ELSE CAST(REPLACE(price, '€', '') AS NUMERIC)
            END
        ), 2
    ) AS average_price_euro
FROM books
GROUP BY year
ORDER BY year;
""", engine)

print(df)

    publication_year  book_count  average_price_euro
0               1871          43               38.44
1               1883          56               41.04
2               1886          54               43.91
3               1904          37               43.59
4               1905          59               39.82
5               1938          42               35.45
6               1955          49               44.11
7               1958          32               34.54
8               1986         104               35.77
9               1987         120               39.38
10              1988         153               39.85
11              1989         103               40.03
12              1990         122               40.80
13              1991          94               39.68
14              1992         101               40.48
15              1993         114               41.05
16              1994         131               40.20
17              1995         112               35.42
18              1996         111               43.31
19              1997         111               40.33
20              1998         110               40.92
21              1999         108               41.06
22              2000         107               36.68
23              2001         117               37.88
24              2002         101               39.10
25              2003         103               42.10
26              2004         174               40.52
27              2005         116               40.68
28              2006         128               43.62
29              2007         113               36.54
30              2008          92               39.77
31              2009          99               40.76
32              2010         101               41.22
33              2011         122               40.65
34              2012         120               42.61
35              2013         114               41.38
36              2014         100               42.44
37              2015         107               41.41
38              2016         127               38.70
39              2017         119               42.57
40              2018         113               41.11
41              2019         104               42.42
42              2020         107               41.09
43              2021         124               42.58
44              2022         103               38.29
45              2023          94               38.66
46              2024         108               42.82
47              2025         108               41.00
48              2026         116               40.00

In [64]:
cur.close()
conn.close()